nav {
  justify-content: space-evenly;
  display: flex;
  background-color: white;
  color: black;
  position: relative;
  text-align: center;
  cursor: pointer;
}

div.draft-info-cat {
  border: solid black;
  height : 2em;
  vertical-align: middle;
  padding-top: 1em;
  width: 33%;
}
div.draft-info-cat-selected {

  color: red;
  border: 1em  black;
  height : 2em;
  padding-top: 1em;
  border-top: solid black;
  border-left: solid gray;
  border-right: solid black;
  border-right: solid gray;
  width: 33%;
  }

div.draft-info-cat:hover { 
    color: gray;
  }

div.folder {
  background-color: #708090;
  
  border-radius: 5px 30px 0 0;
  border: solid black;
  height : 2em;
  vertical-align: middle;
  padding-top: 1em;
  width: 25%;
}

div.folder-selected {
  background-color: #708090;
  
  border-radius: 5px 30px 0 0;
  border: solid black;
  height : 2em;
  vertical-align: middle;
  padding-top: 1em;
  width: 25%;
  color: red;
}

.wrapper-header {
    display: grid;
    grid-gap: 0px;
    /*grid-template-columns: 100px 100px 100px;*/
    grid-template-rows: repeat(var(1), var(--gridHeight));
    grid-template-columns: repeat(var(--colNum), var(--rowW));
    background-color: #fff;
    color: #444;
    margin-bottom: 10px;
    margin-right: 17px;
    }

  .wrapper {
    display: grid;
    grid-gap: 0px;
    /*grid-template-columns: 100px 100px 100px;*/
    /*grid-template-rows: repeat(var(--rowNum), var(--gridHeight));*/
    grid-template-columns: repeat(var(--colNum), var(--rowW));
    background-color: #fff;
    color: #444;
    padding-top : 5px;
    padding-bottom : 5px;
    }

        .wrapper:hover { 
    background-color: yellow;
}

      .wrapper-large {
        height: 300px;
        overflow-y: scroll;

    }

    .grid-item-even {
      grid-column-start: auto;
      grid-row-start: auto;
      text-align: center;
      vertical-align: middle;
      height: 30px;
      padding-top : 10px;
      background-color: #888;
      color: #fff;
    }

      .grid-item-odd {
      grid-column-start: auto;
      grid-row-start: auto;
      text-align: center;
      vertical-align: middle;
      height: 30px;
      padding-top : 10px;
      background-color: #aaa;
      color: #fff;
    }

     .grid-item-header {
      grid-column-start: auto;
      grid-row-start: auto;
      margin: 0px;
      text-align: center;
      vertical-align: middle;
      height: 30px;
      padding-top : 10px;
      background-color: #444;
      color: #fff;
    }

  :root {
  --rowNum: 4;
  --colNum: 2;
  --gridHeight: 50px;
  --rowW: 25%;
}

