div.left-pane {
    padding: 1rem;
    background: #2980B9;
    width: 10rem;
    color: #fff;
}
div.center-pane {
    padding: 1rem;
    background: #ECF0F1;
    display: block;
    text-align: center;
    font-size: 1.25em;
    font-family:  Arial;
    background: gray;
}
div.right-pane {
    padding: 1rem;
    background: #2980B9;
    width: 12rem;
    color: #fff;
}


/*div.menu {
	display: flex;
	justify-content: space-around;
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 2em;
	text-decoration: none;
	padding: 0.5em;

}*/
div.timer {
  height: calc(100% - 2.5em);
  border: 0.25em double green;
  color: blue;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Knewave", fantasy, Arial;
  font-size: 5em;
  background: gray;
}
div.timer span {
  display: block;
  text-align: center;
  /*cursor: pointer;*/
  font-size: 0.5em;
}

nav.draft-button {
  height: calc(100% - 2.5em);
  border: 0.25em double green;
  color: blue;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Knewave", fantasy, Arial;
  font-size: 5em;
  background: gray;
  cursor: pointer;
}

nav.draft-button:hover { 
    background-color: yellow;
}


div.draft-order
{
    display: block;
    text-align: center;
    font-size: 1em;
    font-family: fantasy, Arial;
    background: gray;
}

div.draft-order-name
{
    display: block;
    text-align: center;
    font-size: 1em;
    font-family:  Arial;
    background: gray;
    padding: 0.25rem;
}

div.menu-bar{
        padding: 1rem;
        background: #111;
        height: 4rem;
        color: #fff;
    }

div.derby
{
  width:60;
  height:60;
  float: left;
}

div.menu {
        padding: 1rem;
        background: #111;
        height: 60;
        color: #fff;
        text-align: center
    }
